.box-1{ 
    
  font-weight: bold;
font-size: 25px;
}
.numero-del-pokemon{

color: darkgray;
font-weight: bold;
font-size: 25px;
}

.box-3{

background-color: darkgray;

margin: 50px 450px;

border: 5px  red solid ;

}



